In [ ]:
# Web Scraping Assignment 4
# Samrat Dey
# Batch - DS2312

In [12]:
# Q.1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
# You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

Name=[]
Artist=[]
Date=[]
Views=[]

start=0
end=1

for page in range(start,end):
    Name_tags=driver.find_elements(By.XPATH,'//table[@Class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in Name_tags:
        try:
            name=i.text
            Name.append(name)
        except:
            Name.append('-')
    Artist_tags=driver.find_elements(By.XPATH,'//table[@Class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in Artist_tags:
        try:
            artist=i.text
            Artist.append(artist)
        except:
            Artist.append('-')
    Date_tags=driver.find_elements(By.XPATH,'//table[@Class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in Date_tags:
        try:
            date=i.text
            Date.append(date)
        except:
            Date.append('-')
    Views_tags=driver.find_elements(By.XPATH,'//table[@Class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in Views_tags:
        try:
            views=i.text
            Views.append(views)
        except:
            Views.append('-')
df=pd.DataFrame({'Name':Name,'Artist':Artist,'Upload Date':Date,'Views(billions)':Views})
df.insert(0, 'Rank', range(1, 1 + len(df)))
df.set_index('Rank',inplace=True)
df

,Name,Artist,Upload Date,Views(billions)
Rank,,,,
1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
5,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
6,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
9,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
11,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
13,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
14,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
15,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
16,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
17,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
18,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
19,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
20,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
21,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
22,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
24,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
25,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
26,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
27,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
28,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
29,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
30,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

In [15]:
# Q.2 Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.   
# You need to find following details: A) Series B) Place C) Date D) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")
time.sleep(5)
fixture=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixture.click()
time.sleep(5)

Series=[]
Place=[]
Date=[]
Time=[]

start=0
end=1

for page in range(start,end):
    Series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in Series_tags:
        try:
            series=i.text
            Series.append(series)
        except:
            Series.append('-')
    Place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[2]')
    for i in Place_tags:
        try:
            place=i.text
            Place.append(place)
        except:
            Place.append('-')
    Date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in Date_tags:
        try:
            date=i.text
            Date.append(date)
        except:
            Date.append('-')
    Time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in Time_tags:
        try:
            time=i.text
            Time.append(time)
        except:
            Time.append('-')
df=pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

                          Series       Place           Date         Time
0  ENGLAND TOUR OF INDIA 2023-24  Dharamsala  7 MARCH, 2024  9:30 AM IST
1    INDIA TOUR OF ZIMBABWE 2024      Harare   6 JULY, 2024  8:00 PM IST
2    INDIA TOUR OF ZIMBABWE 2024      Harare   7 JULY, 2024  8:00 PM IST
3    INDIA TOUR OF ZIMBABWE 2024      Harare  10 JULY, 2024  8:00 PM IST
4    INDIA TOUR OF ZIMBABWE 2024      Harare  13 JULY, 2024  8:00 PM IST
5    INDIA TOUR OF ZIMBABWE 2024      Harare  14 JULY, 2024  8:00 PM IST

In [27]:
# Q.3 Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/   
# You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices   
# E) Share(18-19) F) GDP($ billion)   
# Note: - From statisticstimes home page you have to reach to economy page through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")
time.sleep(5)
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()
country=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
country.click()
time.sleep(3)
state=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
state.click()
time.sleep(5)

Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

start=0
end=1

for page in range(start,end):
    Rank_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
    for i in Rank_tags:
        try:
            rank=i.text
            Rank.append(rank)
        except:
            Rank.append('-')
    State_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
    for i in State_tags:
        try:
            state=i.text
            State.append(state)
        except:
            State.append('-')
    GSDP1_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
    for i in GSDP1_tags:
        try:
            gsdp1=i.text
            GSDP1.append(gsdp1)
        except:
            GSDP1.append('-')
    GSDP2_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
    for i in GSDP2_tags:
        try:
            gsdp2=i.text
            GSDP2.append(gsdp2)
        except:
            GSDP2.append('-')
    Share_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
    for i in Share_tags:
        try:
            share=i.text
            Share.append(share)
        except:
            Share.append('-')
    GDP_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
    for i in GDP_tags:
        try:
            gdp=i.text
            GDP.append(gdp)
        except:
            GDP.append('-')
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(21-22) Cr INR at current prices':GSDP1,'GSDP(22-23) Cr INR at current prices':GSDP2,'Share(21-22)':Share,'GDP($ billion)':GDP})
df.head(33)

,Rank,State,GSDP(21-22) Cr INR at current prices,GSDP(22-23) Cr INR at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

In [51]:
# Q.4 Scrape the details of trending repositories on Github.com. Url = https://github.com/   
# You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https://github.com/")
time.sleep(5)
explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
explore.click()
option=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
option.click()
time.sleep(3)

Title=[]
Description=[]
Contributors=[]
Language=[]

start=0
end=1

for page in range(start,end):
    Title_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a')
    for i in Title_tags:
        try:
            title=i.text
            Title.append(title)
        except NoSuchElementException:
            Title.append('-')
    Description_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in Description_tags:
        try:
            description=i.text
            Description.append(description)
        except NoSuchElementException:
            Description.append('-')
    Contributors_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div/a[2]')
    for i in Contributors_tags:
        try:
            contributors=i.text
            Contributors.append(contributors)
        except NoSuchElementException:
            Contributors.append('-')
    Language_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/span/span[2]')
    for i in Language_tags:
        try:
            language=i.text
            Language.append(language)
        except NoSuchElementException:
            Language.append('-')
df=pd.DataFrame({'Repository Title':Title,'Repository Description':Description,'Contributors Count':Contributors,'Language Used':Language})
df

Empty DataFrame
Columns: [Repository Title, Repository Description, Contributors Count, Language Used]
Index: []

In [52]:
# Q.5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the following details:
# A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https:/www.billboard.com/")
time.sleep(5)
charts=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")

In [22]:
# Q.6 Scrape the details of Highest selling novels.   
# A) Book name B) Author name C) Volumes sold D) Publisher E) Genre   
# Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

Book=[]
Author=[]
Volumes=[]
Publisher=[]
Genre=[]

for _ in range(20):
    driver.execute_script("window.scrollBy(0,20)")
    
start=0
end=1

for page in range(start,end):
    Book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in Book_tags:
        try:
            book=i.text
            Book.append(book)
        except NoSuchElementException:
            Book.append('-')
    Author_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in Author_tags:
        try:
            author=i.text
            Author.append(author)
        except NoSuchElementException:
            Author.append('-')
    Volumes_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in Volumes_tags:
        try:
            volumes=i.text
            Volumes.append(volumes)
        except NoSuchElementException:
            Volumes.append('-')
    Publisher_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in Publisher_tags:
        try:
            publisher=i.text
            Publisher.append(publisher)
        except NoSuchElementException:
            Publisher.append('-')
    Genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in Genre_tags:
        try:
            genre=i.text
            Genre.append(genre)
        except NoSuchElementException:
            Genre.append('-')    
df=pd.DataFrame({'Book Name':Book,'Author Name':Author,'Volumes Sold':Volumes,'Publisher':Publisher,'Genre':Genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [24]:
# Q.7 Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls512407256/
# You have to find the following details:
# A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls512407256/")

Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

start=0
end=1

for page in range(start,end):
    Name_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
    for i in Name_tags:
        try:
            name=i.text
            Name.append(name)
        except NoSuchElementException:
            Name.append('-')
    Year_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
    for i in Year_tags:
        try:
            year=i.text
            Year.append(year)
        except NoSuchElementException:
            Year.append('-')
    Genre_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
    for i in Genre_tags:
        try:
            genre=i.text
            Genre.append(genre)
        except NoSuchElementException:
            Genre.append('-') 
    Runtime_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
    for i in Runtime_tags:
        try:
            runtime=i.text
            Runtime.append(runtime)
        except NoSuchElementException:
            Runtime.append('-')
    Ratings_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')
    for i in Ratings_tags:
        try:
            ratings=i.text
            Ratings.append(ratings)
        except NoSuchElementException:
            Ratings.append('-')
    Votes_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in Votes_tags:
        try:
            votes=i.text
            Votes.append(votes)
        except NoSuchElementException:
            Votes.append('-')
df=pd.DataFrame({'Name':Name,'Year Span':Year,'Genre':Genre,'Run Time':Runtime,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,800"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,650"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,402"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,497"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,443"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,889"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,078"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,895"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,132"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,703"

In [45]:
# Q.8 Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
# You have to find the following details:
# A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year
# Note: - from the home page you have to go to the Show All Dataset page through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import time
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
time.sleep(3)
explore=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
explore.click()

Dataset_urls=[]
Name=[]
Type=[]
Task=[]
Attribute=[]
Instances=[]
Number=[]
Year=[]

start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        Dataset_urls.append(i.get_attribute("href"))
for url in Dataset_urls:
    driver.get(url)
    time.sleep(5)
    try:
        name=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1")
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')
    try:
        typ=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p")
        Type.append(typ.text)
    except NoSuchElementException:
        Type.append('-')
    try:
        task=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p")
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    try:
        attribute=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p")
        Attribute.append(attribute.text)
    except NoSuchElementException:
        Attribute.append('-')
    try:
        instances=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p")
        Instances.append(instances.text)
    except NoSuchElementException:
        Instances.append('-')
    try:
        number=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p")
        Number.append(number.text)
    except NoSuchElementException:
        Number.append('-')
    try:
        year=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2")
        Year.append(year.text[16:20])
    except NoSuchElementException:
        Year.append('-')
df=pd.DataFrame({'Dataset Name':Name,'Data Type':Type,'Task':Task,'Attribute Type':Attribute,'No. of Instances':Instances,'No. of Attribute':Number,'Year':Year})
df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,/199
7,Wine,Tabular,Classification,"Integer, Real",178,13,1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-