In [ ]:
# Regular Expressions Assignment 1 by Samrat Dey (Batch No. DS2312)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import re

In [4]:
import regex as re

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
#1 Python program to replace all occurrences of a space, comma, or dot with a colon.
text='Python Exercises, PHP exercises.'
x=re.sub(r"\s+|,|.$",":",text)
print(x)

Python:Exercises::PHP:exercises:

In [6]:
#2 Creating a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
dic={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dic)
def rem_str(x):
    return re.sub(r"\d+|,|!|X|:|;|\W+$","",x)
df=df['SUMMARY'].apply(rem_str)
print(df)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [7]:
#3 Function in python to find all words that are at least 4 characters long in a string
str1="The regular expression pattern and target strings are the mandatory arguments."
string_pattern=r"\w{4,}"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(str1)
print(result)

['regular', 'expression', 'pattern', 'target', 'strings', 'mandatory', 'arguments']

In [8]:
#4 Function in python to find all three, four, and five character words in a string
str2="The regular expression pattern and target strings are the mandatory arguments."
str2=re.sub("\s","  ",str2)
string_pattern=r"^\w{3,5}\s|\s\w{3,5}\s"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(str2)
print(result)

['The ', ' and ', ' are ', ' the ']

In [9]:
#5 Function in Python to remove the parenthesis in a list of strings
str3=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
string_pattern=r"\(|\)"
regex_pattern=re.compile(string_pattern)
for str in str3:
    result=regex_pattern.sub("",str)
    result=re.sub("\s\.",".",result)
    print(result)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [10]:
#6 Python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
with open("Text File 1.txt") as file:
    for str in file:
        result=re.sub(r"\s\(.\w+\)|\(\w+\s\w+\s\w+\)","",str)
        print(result)

["example", "hr@fliprobo", "github", "Hello ", "Data"]

In [11]:
#7 Regular expression in Python to split a string into uppercase letters
str5="ImportanceOfRegularExpressionsInPython"
pattern="([A-Z][a-z]+)"
result=re.split(pattern,str5)
def result_string (result):
    string=' '
    return(string.join(result))
res=result_string(result)
res=re.sub("^\s","",res)
res=re.sub("\s+"," ",res)
print(res)

Importance Of Regular Expressions In Python

In [14]:
#8 Function in python to insert spaces between words starting with numbers
str6="RegularExpression1IsAn2ImportantTopic3InPython"
pattern="(\d[A-Z][a-z]+)"
result=re.split(pattern,str6)
def result_string (result):
    string=' '
    return(string.join(result))
res=result_string(result)
res=re.sub("\s+"," ",res)
print(res)

RegularExpression 1Is An 2Important Topic 3In Python

In [15]:
#9 Function in python to insert spaces between words starting with capital letters or with numbers
str7="RegularExpression1IsAn2ImportantTopic3InPython"
pattern="([A-Z][a-z]+|\d)"
result=re.split(pattern,str7)
result.pop(0)
result.pop(-1)
def result_string (result):
    string=' '
    return(string.join(result))
res=result_string(result)
res=re.sub("\s+"," ",res)
print(res)

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [16]:
#10 Read the data from a github link and create a dataframe
link=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
def extract6(x):
    return re.findall(r"^\w{0,6}",x)
link['first_five_letters']=link['Country'].apply(extract6)
link

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,[Switze]
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,[Icelan]
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,[Denmar]
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,[Norway]
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,[Canada]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,[Rwanda]
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,[Benin]
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,[Syria]
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,[Burund]
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,[Togo]

In [17]:
#11 Python program to match a string that contains only upper and lowercase letters, numbers, and underscores
pattern="\W"
str8=input('Please enter a string\n')
matches=re.findall(pattern,str8)
if matches==[]:
    print('The string is matched')
else:
    print('The string is not matched. It contains:',matches)

Please enter a string
Hello_World_123$_tjyvtkd56.,:
The string is not matched. It contains: ['$', '.', ',', ':']

In [18]:
#12 Python program where a string will start with a specific number
str9=input('Please enter a string\n')
num1=int(input('Please enter a specific number to check\n'))
if int(str9[0])==num1:
    print('The string has started with the specified number')
else:
    print('The string has not started with the specified number. The first character is',str9[0])

Please enter a string
9_Hello World
Please enter a specific number to check
8
The string has not started with the specified number. The first character is 9

In [19]:
#13 Python program to remove leading zeros from an IP address
str10=input('Please enter a valid IP address\n')
result=re.split(r"\.",str10,maxsplit=3)
ip=""
for i in range(0,4):
    res_str=re.sub("^[0]+","",result[i])
    if ip=="":
        ip=res_str
    else:
        ip=ip+"."+res_str
    i=i+1
print(ip)

Please enter a valid IP address
001.010.168.002
1.10.168.2

In [20]:
#14 Regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file
with open("Text File 2.txt") as file:
    for str in file:
        result=re.findall("\w+\s\d\d\w{2}\s\d\d\d\d",str)
        print(result)

['August 15th 1947']

In [21]:
#15 Python program to search some literals strings in a string
text="The quick brown fox jumps over the lazy dog."
search1=re.search("fox",text)
search2=re.search("dog",text)
search3=re.search("horse",text)
print(search1)
print(search2)
print(search3)

<regex.Match object; span=(16, 19), match='fox'>
<regex.Match object; span=(40, 43), match='dog'>
None

In [22]:
#16 Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
text="The quick brown fox jumps over the lazy dog."
pattern=input('Enter a literals string to serach in the given string\n')
search=re.search(pattern,text)
print(search)

Enter a literals string to serach in the given string
fox
<regex.Match object; span=(16, 19), match='fox'>

In [23]:
#17 Python program to find the substrings within a string
string='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
result=re.findall(pattern,string)
print(result)

['exercises', 'exercises', 'exercises']

In [24]:
#18 Python program to find the occurrence and position of the substrings within a string
string='Python exercises, PHP exercises, C# exercises'
sub_string="exercises"
result=re.findall(sub_string,string)
print(result)
result=re.split(",",string)
for r in result:
    search=re.search(sub_string,r)
    print(search)

['exercises', 'exercises', 'exercises']
<regex.Match object; span=(7, 16), match='exercises'>
<regex.Match object; span=(5, 14), match='exercises'>
<regex.Match object; span=(4, 13), match='exercises'>

In [43]:
#19 Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format
date1=input('Please enter a date in yyyy-mm-dd format\n')
split_date=re.split("-",date1)
print(split_date)
new_date=""
for i in range(2,0):
    res_date=split_date[i]
    if new_date=="":
        new_date=res_date
    else:
        new_date=new_date+"-"+res_date
        i=i-1
print(new_date)

Please enter a date in yyyy-mm-dd format
2024-01-09
['2024', '01', '09']

In [26]:
#20 Function in python to find all decimal numbers with a precision of 1 or 2 in a string
str20="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
string_pattern="\d+\.\d{1,2}+"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(str20)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [27]:
#21 Python program to separate and print the numbers and their position of a given string
str21="Regular Expression 1 Is An 2 Important Topic 3 In Python"
pattern="\d+"
result=re.findall(pattern,str21)
result=result
print(result)
for i in range(0,3):
    search=re.search(result[i],str21)
    print(search)
    i=i+1

['1', '2', '3']
<regex.Match object; span=(19, 20), match='1'>
<regex.Match object; span=(27, 28), match='2'>
<regex.Match object; span=(45, 46), match='3'>

In [28]:
#22 Regular expression in python program to extract maximum/largest numeric value from a string.
text1='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
result=re.findall("\d+",text1)
result.sort(reverse=True)
print(result[0])

950

In [29]:
#23 Function in python to insert spaces between words starting with capital letters
text2="RegularExpressionIsAnImportantTopicInPython"
pattern="([A-Z][a-z]+)"
result=re.split(pattern,text2)
result.pop(0)
result.pop(-1)
def result_string (result):
    string=' '
    return(string.join(result))
res=result_string(result)
res=re.sub("\s+"," ",res)
print(res)

Regular Expression Is An Important Topic In Python

In [30]:
#24  Python regex to find sequences of one upper case letter followed by lower case letters
text3="The quick Brown fox jumPs oVer the LazY dog."
pattern="[A-Z][a-z]+"
search=re.findall(pattern,text3)
print(search)

['The', 'Brown', 'Ps', 'Ver', 'Laz']

In [31]:
#25 Python program to remove continuous duplicate words from Sentence using Regular Expression
text4="Hello hello world world"
split_text=re.split("\s",text4)
result=[]
for i in split_text:
    if i not in result:
        result.append(i)
final_string=" ".join(result)
print(final_string)

Hello hello world

In [32]:
#26 Python program using RegEx to accept string ending with alphanumeric character
text5=input('Enter a string\n')
pattern=(r"[A-Z]|[a-z]|[0-9]")
result=re.match(pattern,text5[-1])
if result!=None:
    print('The string is ending with alphanumeric character')
else:
    print('The string does not end with alphanumneric character. Please enter a string ending with alphanumeric character')

Enter a string
Hello World!
The string does not end with alphanumneric character. Please enter a string ending with alphanumeric character

In [33]:
#27 Python program using RegEx to extract the hashtags
str27="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern=r"[#]\w+"
result=re.findall(pattern,str27)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [34]:
#28 Python program using RegEx to remove <U+..> like symbols
str28="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern="[<U+.]+\w{4}[>]"
result=re.sub(pattern,"",str28)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [35]:
#29 Python program to extract dates from the text stored in the text file
with open("Text File 3.txt") as file:
    for str in file:
        result=re.findall("\d\d-\d\d-\d\d\d\d",str)
        print(result)

['12-09-1992', '15-12-1999']

In [36]:
#30 Function in python to remove all words from a string of length between 2 and 4
str30="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
str30=re.sub("\s","  ",str30)
result=re.sub("^\w{2,4}\s","",str30)
result=re.sub("\s\w{2,4}\s"," ",result)
result=re.sub("^\s","",result)
result=re.sub("\s+"," ",result)
print(result)

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.